<form method="post" action="{{ path('status_delete', {'id': status.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir suppriemr cet élement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ status.id) }}">
    <button class="btn  btn-danger mt-3">Supprimer</button>
</form>
