<h1>Bienvenue au sein de notre site</h1>

<p>
    Afin de pouvoir valider le compte il convient de suivre ce lien :  <br><br>
    <a href="{{ signedUrl }}">Confirmation</a>.
    Attention ce lien est valabe : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    On se retouve tout de suite sur le site de la Nîmes Alerie
</p>
