<div class="collapse navbar-collapse flex-grow-1 flex-md-grow-0" id="navbarSupportedContent">
	<ul class="navbar-nav mx-5 me-auto mb-2 mb-md-0">
		{% for category in categories %}
			{% if category.parent is null and category.isActive %}
				<li class="nav-item dropdown px-2 m-0 m-xl-5 m-md-2">
					<a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{category.name | title}}
					</a>
					<ul class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
						{% for category1 in categories %}

							{% if category1.parent is not null and category1.parent.id == category.id  and category1.isActive %}
								<li>
									<a class="dropdown-item text-secondary" href={{ path('univers',{'id':category1.id})}}>
										{{category1.name |title}}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			{% endif %}
		{% endfor %}

		{% if is_granted('ROLE_EMPLOYEE') %}
			<li class="nav-item px-2 m-0 m-xl-5 m-md-2">
				<a class="nav-link btn btn-primary text-white" href={{ path('home_back') }} role="button">
					Gestion
				</a>
			</li>
		{% endif %}
	</ul>
</div>
