{% extends 'baseBack.html.twig' %}

{% block title %} - Categories{% endblock %}

{% block body %}
    <h1>Modification de catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('category_index') }}">Retour à la gestion des Categories</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
