{% extends 'base.html.twig' %}

{% block title %}
	- Commandes
{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row justify-content-center">
        {% for order in orders %}
            {% dump(order) %}
        {% endfor %}  
    </div>
</div>

{% endblock %}