{% extends 'baseBack.html.twig' %}

{% block title %} - Produit{% endblock %}

{% block body %}

<div class="container">
		<h1 class="text-white">Modification d'un Produit</h1>
		<div class="col-10">
			{{ include('product/_form.html.twig',{'button_label': 'Mise à jour'}) }}
		</div>
		<a  class ="my-5" href="{{ path('product_cat', {'id': product.category.id}) }}">
				<button class="btn btn-warning">Retour à la liste des produits de la catégorie</button>
			</a>
     {{ include('product/_delete_form.html.twig') }}   
	</div>

{% endblock %}
