{% extends 'baseBack.html.twig' %}

{% block title %}New QuantityOnCommand{% endblock %}

{% block body %}
    <h1>Create new QuantityOnCommand</h1>

    {{ include('quantity_on_command/_form.html.twig') }}

    <a href="{{ path('quantity_on_command_index') }}">back to list</a>
{% endblock %}
