<section>
    <div class="container mt-4">
        <div class="row justify-content-center" id="presentation">
            <h2 class="mt-5 text-warning text-center">Toujours au plus proche de vous et de vos besoins</h2>
            <div class="col-10 d-flex flex-column justify-content-around">             
                <p class="text-white">A votre service depuis plus de 30 ans en coeur de ville, 
                    présent en orbite avec vos animaux bien avant Elon Musk, nous sommes heureux de vous présenter 
                    notre tout nouveau site internet.</p>
                <p class="text-white">Comme vous, nous sommes attentionnés et passionnés par les animaux. Nous vous conseillons
                    avec professionnalisme en ayant sélectionné pour votre animal des produits adaptés à ses besoins : chiens, chats, oiseaux, 
                    rongeurs, reptiles, poissons, poulailler... 
                    La Nîmes'Alerie et son équipe en ligne vous accompagne au quotidien pour garantir le bien-être de vos animaux.</p>
                <p class="text-white">Nous avons volontairement choisi l'image de nos chères arênes car nous sommes persuadés que, dans l'avenir, 
                    elles deviendront un symbole de l'avancée de notre société concernant la considération et l'attention apportée au bien-etre animal. </p>  
            </div>             
        </div>
    </div>
</section>