
{% extends 'baseBack.html.twig' %}

{% block title %} - Expedition{% endblock %}

{% block body %}

<div class="container">
		<h1 class="text-white">Mise à jour du moyen d'expédition</h1>
		<div class="col-6">
			{{ include('shipment/_form.html.twig',{'button_label': 'Mise à jour'}) }}
		</div>
		<a href="{{ path('shipment_index') }}">
			<button class="btn btn-warning">Retour</button>
		</a>
       {{ include('shipment/_delete_form.html.twig') }}
	</div>

    
{% endblock %}