<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-8">
			<form method="post" action="{{ path('adress_delete', {'id': adress.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir effecer cette adresse ?');">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adress.id) }}">
				<button class="btn btn-danger">Supprimer l'adresse</button>
			</form>
		</div>
	</div>
</div>
