{% extends 'baseBack.html.twig' %}

{% block title %} - Adresse{% endblock %}

{% block body %}
 <h1 class="text-white text-center">Création de l'adresse</h1>
    <div class="container-fluid">
		<a href="{{ path('user_show',{'id':user.id}) }}">
			<button class="btn btn-primary">Retour au détail du client</button>
		</a>
	</div>

      {{ include('adress/_form.html.twig') }}

{% endblock %}
