<div class="modal fade" id="CGUCGV" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CGUCGVLabel">CGU / CGV</h5>      
            </div>
            <div class="mx-2">
                <div class="accordion accordion-flush" id="accordionCGU">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Objet
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionCGU">
                            <div class="accordion-body">
                                <p>
                                    Les présentes conditions générales de vente ont pour objet, d'une part, d'informer tout éventuel consommateur sur les conditions 
                                    et modalités dans lesquelles le vendeur procède à la vente et à la livraison des produits commandés, et d'autre part, 
                                    de définir les droits et obligations des parties dans le cadre de la vente de produits par le vendeur au consommateur. 
                                    Elles s'appliquent, sans restriction ni réserves,
                                    à l'ensemble des ventes réalisés par la société La Nîmes'Alerie, des produits proposés sur son site Internet.
                                </p>
                                <p>
                                    En conséquence, le fait pour toute personne de commander un produit proposé à la vente sur le site Internet de la société La Nîmes'Alerie 
                                    emporte acceptation pleine et entière des présentes 
                                    conditions générales de vente dont l'Acheteur reconnaît avoir pris connaissance préalablement à sa commande.
                                </p> 
                                <p>
                                    La société La Nîmes'Alerie se réserve le droit de modifier à tout moment les présentes conditions générales de vente.
                                    Elles seront alors applicables dès leur mise en ligne.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Tarifs
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionCGU">
                            <div class="accordion-body">
                                <p>Les prix de vente des produits en ligne sur le site Internet de La Nîmes'Alerie, indiqués en Euros, 
                                    sont ceux en vigueur au moment de l'enregistrement du bon de commande par l'Acheteur.
                                </p>
                                <p>Ils ne comprennent pas les frais d'expédition, facturés en supplément du prix des produits achetés suivant le montant de la commande, 
                                    ni les frais de paiement selon le mode de règlement. 
                                    Les frais d'expédition et de règlements seront indiqués avant l'enregistrement de la commande par l'Acheteur.
                                </p>
                                <p>Les prix de vente des produits peuvent être modifiés par La Nîmes'Alerie à tout moment.
                                    Cette modification sera signalée à l'Acheteur avant toute commande.
                                </p>           
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Caractéristiques des produits
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionCGU">
                            <div class="accordion-body">
                                <p>
                                    Conformément à l'article L 111-1 du Code de la Consommation, l'Acheteur peut, préalablement à sa commande, prendre connaissance, 
                                    sur le Site de La Nîmes'Alerie, des caractéristiques essentielles du ou des produits qu'il désire commander.
                                </p>
                                <p>
                                    Les offres présentées par La Nîmes'Alerie sont valables dans la limite des stocks disponibles. Pour les produits non stockés dans ses entrepôts, 
                                    les offres présentées par La Nîmes'Alerie sont valables sous réserve de disponibilités chez ses fournisseurs. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                                Commandes
                                </button>
                            </h2>
                            <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionCGU">
                                <div class="accordion-body">
                                    <p>
                                    La vente ne sera considérée comme définitive qu'après l'envoi à l'Acheteur de la confirmation de la commande 
                                    par La Nîmes'Alerie et encaissement par celle-ci de l'intégralité du prix.
                                    </p>
                                    <p>
                                    La société La Nîmes'Alerie se réserve le droit de ne pas accepter, ou d'annuler une commande d'un client avec lequel un litige existe.
                                    </p> 
                                    <p>
                                    Les données enregistrées par le système informatique de La Nîmes'Alerie constituent la preuve de l'ensemble des transactions passées entre La Nîmes'Alerie et ses clients.
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                                Paiement
                                </button>
                            </h2>
                            <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionCGU">
                                <div class="accordion-body">
                                    <p>
                                    Le paiement doit être réalisé lors de la commande par l'Acheteur. A aucun moment, les sommes versées ne pourront être considérées comme des arrhes ou acomptes.
                                    </p>
                                    <p>
                                    La Nîmes'Alerie se réserve le droit de suspendre ou d'annuler toute commande et/ou livraison, quelle que soit sa nature et niveau d'exécution, 
                                    en cas de non-paiement de toute somme qui serait due par l'Acheteur ou en cas d'incident de paiement.
                                    </p> 
                                    <p>
                                    En cas de non respect par l'acheteur d'une seule échéance de paiement, et ce, pour quelque raison que ce soit, le vendeur se réserve le droit de suspendre 
                                    l'exécution des autres commandes en cours jusqu'à complet règlement des montants dus.
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                            Choix des produits
                            </button>
                        </h2>
                        <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6" data-bs-parent="#accordionCGU">
                            <div class="accordion-body">
                                <p>
                                L'Acheteur ayant pris connaissance des produits et de leurs caractéristiques, commercialisés par La Nîmes'Alerie, 
                                a sous sa seule responsabilité et en fonction de ses besoins tels qu'ils les a préalablement déterminés avant toute commande, 
                                porté son choix sur le ou les produits faisant l'objet de sa commande. En outre, l'Acheteur connaissant seul les produits qu'il possède et utilise, 
                                est seul juge de la compatibilité des produits commandés avec ceux utilisés par lui.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading7">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
                            Problèmes de qualité ou de conformité
                            </button>
                        </h2>
                        <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7" data-bs-parent="#accordionCGU">
                            <div class="accordion-body">
                                <p>
                                En cas de non conformité de la commande (délais, produit défectueux ou non conforme à la description), 
                                l'Acheteur doit formuler sa réclamation auprès du Service Client depuis l'espace client 
                                ou par téléphone au +33X XX XX XX (du lundi au vendredi de 10h à 12h et de 14h à 16h, pour les clients munis de leur numéro de commande)
                                </p>
                                <p>
                                Les réclamations doivent être adressées par lettre ou par email et devront comporter :
                                <ul><li>les coordonnées de l'Acheteur.</li>
                                <li>les références du produit.</li>
                                <li>le numéro de commande.</li>
                                <li>les motifs de la réclamation.</li></ul>                      
                                </p> 
                                <p>
                                Le retour des produits devra être fait dans un délai de quatorze jours ouvrés à compter de l'attribution 
                                d'un numéro de retour par le service client de La Nîmes'Alerie.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading8">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
                            Droit de Rétractation
                            </button>
                        </h2>
                        <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading8" data-bs-parent="#accordionCGU">
                            <div class="accordion-body">
                                <p>
                                    L'acheteur a le droit de se rétracter du présent contrat sans donner de motif dans un délai de quatorze jours.
                                </p>
                                <p>
                                    Le délai de rétractation expire quatorze jours après le jour "où l'acheteur, 
                                    ou un tiers autre que le transporteur et désigné par l'acheteur, prend physiquement possession du dernier bien".
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading9">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">
                            Garanties
                            </button>
                        </h2>
                        <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-heading9" data-bs-parent="#accordionCGU">
                            <div class="accordion-body">
                                <p>
                                    Certains produits vendus peuvent également bénéficier d’une garantie commerciale dite « Garantie Fabricant » à laquelle La Nîmes'Alerie n’est pas partie.
                                    La Nîmes'Alerie ne saurait donc être tenue pour responsable en cas de refus du fabricant d’appliquer sa garantie.
                                </p>
                                <p>
                                L’étendue et la durée de cette garantie varie d’un fournisseur à l'autre. 
                                L’acheteur peut consulter les termes exacts des garanties sur le site Internet du fabricant et dans la notice du Produit.
                                </p> 
                                <h3>Garanties Légales</h3>
                                <p>
                                Tous les Produits en vente sur le Site Internet bénéficient de la garantie légale de conformité (articles L217-1 et suivant du Code de la consommation) 
                                et de la garantie contre les vices cachés 
                                (articles 1641 et suivants du Code civil), permettant à l’acheteur de renvoyer les Produits livrés défectueux ou non conformes.
                                </p>
                                <p>
                                L’acheteur est informé que la société La Nîmes'Alerie, dont le siège social est est le garant de la conformité des Produits au contrat dans le cadre de ces deux garanties légales.
                                </p>
                                <p>
                                L’acheteur dispose d’un délai de deux ans à compter de la délivrance du Produit pour agir en application de la garantie légale de conformité.
                                </p>
                                <p>
                                Dans ce cas, l’acheteur peut choisir entre la réparation ou le remplacement du Produit, 
                                sous réserve des conditions de coût prévues par l’article L217-9 du Code de la consommation.
                                </p>
                                <p>
                                Par ailleurs, l’acheteur peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue au sens de l’article 1641 du Code civil. 
                                Dans cette hypothèse, l’acheteur peut choisir entre la résolution de la vente ou une réduction du prix de vente conformément à l’article 1644 du Code civil.
                                </p>
                                <p>
                                Article L217-4 du Code de la consommation : Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. 
                                Il répond également des défauts de conformité résultant de l'emballage, 
                                des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>