<div class="modal fade" id="contactForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="contactFormLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-secondary" id="contactFormLabel">Merci de completer ce formulaire</h5>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form action="{{path('contact')}}" method="post">
							<div class="col">
								<div class="mb-1 text-start">
									<label for="prenom" class="form-label text-primary">Prénom</label>
									<input type="text" name="firstname" value="{% if app.user is not empty %}{{app.user.firstname | title}}{% endif %}" class="form-control" id="prenom" placeholder="Sibylle">
								</div>
								<div class="mb-1 text-start">
									<label for="nom" class="form-label text-primary">Nom</label>
									<input type="text" name="lastname" value="{% if app.user is not empty %}{{app.user.lastname | upper}}{% endif %}" class="form-control" id="nom" placeholder="BAILLY">
								</div>
								<div class="mb-1 text-start">
									<label for="e_mail" class="form-label text-primary">Adresse Email</label>
									<input type="email" name="email" value="{% if app.user is not empty %}{{app.user.email}}{% endif %}" class="form-control" id="e_mail" placeholder="ciboulette@lilo.org">
								</div>
								<div class="mb-1 text-start">
									<label for="message" class="form-label text-primary">Votre message</label>
									<textarea class="form-control" name="message" id="message" rows="3"></textarea>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Quitter</button>
					<button type="submit" class="btn btn-secondary">Valider</button>
				</div>
			</form>
		</div>
	</div>
</div>
