<footer>
    <div class="container-fluid">
        <div class="row bg-dark d-block d-md-flex">
        
          <div class="col-12 col-md-6 text-center pt-3">
            <a href="" class="text-primary">Contacter l'admin backend</a>
          </div>
        
          <div class="col-12 col-md-6 text-center pt-3">
            <p class="text-primary">© 2021 Julien B</p>
          </div>
        </div>
      </div>
</footer>