


{% include 'content/footer/mentions.html.twig' %}
{% include 'content/footer/CGUCGV.html.twig' %}
{% include 'content/footer/politConf.html.twig' %}
{% include 'content/footer/contact.html.twig' %}




    <div class="container-fluid mt-2">
        <div class="row bg-success d-block d-md-flex">
            <div class="col-12 col-md-3 text-center text-md-start pt-3">
                 <a href="" class="text-secondary" data-bs-toggle="modal" data-bs-target="#mentions">Mentions légales</a>
            </div>
            <div class="col-12 col-md-3 text-center pt-3">
                <a href="" class="text-secondary d-block" data-bs-toggle="modal" data-bs-target="#CGUCGV">CGU / CGV</a>
            </div>
            <div class="col-12 col-md-3 text-center pt-3">
                <a href="" class="text-secondary d-block" data-bs-toggle="modal" data-bs-target="#politConf">Politique de confidentialité</a>
            </div>
            <div class="col-12 col-md-3 text-center text-md-end pt-3">
                <a href="" class="text-secondary d-block" data-bs-toggle="modal" data-bs-target="#contactForm">Nous contacter</a>
            </div>
            <div class="col text-secondary text-center text-md-end pt-3 pt-md-5">
                <p>© 2021 Mister J</p>
            </div>
        </div>
    </div>

