<div class="modal fade" id="mentions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mentionsLabel">Mentions légales</h5>      
            </div>
        <div class="mx-2">   
            <h3>Site édité par :</h3>
            <p>SARL La Nîmes'Alerie</p>
            <p>XXXXXXXX - XXXXXX</p>
            <p>Tél : XX XX XX XX XX</p>

            <h3>Site réalisé par :</h3>
            <p>Julien BAILLY - Human Booster - Web statik Inc</p>

            <h3>Site hébergé par :</h3>
            <p>XXXXXXXXX</p>

            <h3>Crédits photos et illustrations :</h3>
            <p>Pexels - thenounproject - freepik – Unsplash</p>

            <div class="accordion accordion-flush" id="accordionMentions">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOneMentions">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneMentions" aria-expanded="false" aria-controls="flush-collapseOneMentions">
                        Utilisation des cookies
                        </button>
                    </h2>
                    <div id="flush-collapseOneMentions" class="accordion-collapse collapse" aria-labelledby="flush-headingOneMentions" data-bs-parent="#accordionMentions">
                        <div class="accordion-body">               
                            <p>La Nîmes'Alerie fait usage de cookies dans l'exploitation de son site internet. 
                            Ils ont pour but de signaler votre passage sur notre site. Les informations relatives à votre visite ne sont stockées que pour permettre 
                            les traitements statistiques. 
                            Ils nous permettent d'améliorer les fonctionnalités et les informations fournies par notre site pour mieux répondre à vos besoins. 
                            Ils ne sont en aucun cas cédés à des tiers. Nous vous rappelons que votre navigateur possède des fonctionnalités qui vous permettent de vous opposer à l'enregistrement de cookies,
                            'être prévenu avant d'accepter les cookies, ou de les effacer.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwoMentions">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoMentions" aria-expanded="false" aria-controls="flush-collapseTwoMentions">
                        Respect des droits d'auteur
                        </button>
                    </h2>
                    <div id="flush-collapseTwoMentions" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionMentions">
                        <div class="accordion-body">
                            <p>©copyright 2021 La Nîmes'Alerie. Tous droits réservés.</p> <p>L'usage ou la reproduction partielle même des textes, 
                            photos ou graphismes publiés sur ce site sont interdits sans l'accord de La Nîmes'Alerie. Toute tentative donnera lieu à des poursuites.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThreeMentions">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThreeMentions" aria-expanded="false" aria-controls="flush-collapseThreeMentions">
                        Agréments spécifiques
                        </button>
                    </h2>
                    <div id="flush-collapseThreeMentions" class="accordion-collapse collapse" aria-labelledby="flush-headingThreeMentions" data-bs-parent="#accordionMentions">
                        <div class="accordion-body">
                            <p>Agrément d'entreprise exerçant une activité de distribution des produits phytopharmaceutiques à des utilisateurs non professionnels : XXXXXX</p>      
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading4Mentions">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4Mentions" aria-expanded="false" aria-controls="flush-collapse4Mentions">
                        Eco-Participation
                        </button>
                    </h2>
                    <div id="flush-collapse4Mentions" class="accordion-collapse collapse" aria-labelledby="flush-heading4Mentions" data-bs-parent="#accordionMentions">
                        <div class="accordion-body">              
                            <p>L’éco-participation est une contribution qui s’applique obligatoirement sur le prix de chaque meuble neuf. 
                            Elle permet de financer la collecte, le tri, le recyclage et/ou la valorisation du mobilier usagé. 
                            Cette contribution est intégralement reversée à Éco-mobilier, éco-organisme à but non lucratif, 
                            agréé par l’État. Sa mission est de développer la collecte des meubles, 
                            d’assurer leur valorisation en fin de vie et de promouvoir le réemploi et la réutilisation.</p>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
    </div>
  </div>
</div>



