<div class="modal fade" id="politConf" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="politConfLabel">Politique de confidentialité</h5>      
            </div>
            <div class="mx-2">
                <div class="accordion accordion-flush" id="accordionpolitConf">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOnepolitConf">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOnepolitConf" aria-expanded="false" aria-controls="flush-collapseOnepolitConf">
                                Droit d'accès et de modification des données vous concernant
                            </button>
                        </h2>
                    <div id="flush-collapseOnepolitConf" class="accordion-collapse collapse" aria-labelledby="flush-headingOnepolitConf" data-bs-parent="#accordionpolitConf">
                        <div class="accordion-body">
                            <p>Conformément à la réglementation en vigueur relative à la protection des personnes physiques à 
                                l'égard des traitements de données à caractère personnel, ce site a été déclaré auprès de la Commission 
                                Nationale Informatique et Libertés et enregistré sous le numéro XXXXXXX. Vous disposez d'un droit d'accès, 
                                de modification, de rectification et de suppression des données qui vous concernent 
                                (art. 26, 34 à 38 de la loi "Informatique et Libertés" n°78-17 du 6 janvier 1978, modifiée en août 2004). 
                                Pour exercer ce droit, adressez-vous à : La Nîmes'Alerie - XXXXXXXXXX - XXXXX
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwopolitConf">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwopolitConf" aria-expanded="false" aria-controls="flush-collapseTwopolitConf">
                            Finalité du traitement
                        </button>
                    </h2>
                    <div id="flush-collapseTwopolitConf" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionpolitConf">
                        <div class="accordion-body">
                            <p>Nous traitons les informations que vous nous envoyez dans le but de vous fournir le service sollicité,
                                de vous transmettre des messages concernant les produits achetés ou similaires ainsi que pour réaliser la facture de celui-ci.
                            </p>         
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThreepolitConf">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThreepolitConf" aria-expanded="false" aria-controls="flush-collapseThreepolitConf">
                            Nature des données traitées
                        </button>
                    </h2>
                    <div id="flush-collapseThreepolitConf" class="accordion-collapse collapse" aria-labelledby="flush-headingThreepolitConf" data-bs-parent="#accordionpolitConf">
                        <div class="accordion-body">
                            <p>Les données personnelles que nous traiterons sont vos données d’identification, de consultation et achats de produits ainsi que votre adresse 
                                de livraison afin de pouvoir effectuer le suivi de vos commandes et d'en assurer la livraison.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading4politConf">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4politConf" aria-expanded="false" aria-controls="flush-collapse4politConf">
                        Temps de conservation
                        </button>
                    </h2>
                    <div id="flush-collapse4politConf" class="accordion-collapse collapse" aria-labelledby="flush-heading4politConf" data-bs-parent="#accordionpolitConf">
                        <div class="accordion-body">              
                            <p>Les données fournies seront conservées tant que la relation commerciale est maintenue ou durant la période correspondant aux obligations légales.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading5politConf">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5politConf" aria-expanded="false" aria-controls="flush-collapse5politConf">
                        Authentification
                        </button>
                    </h2>
                    <div id="flush-collapse5politConf" class="accordion-collapse collapse" aria-labelledby="flush-heading5politConf" data-bs-parent="#accordionpolitConf">
                        <div class="accordion-body">
                            <p>Nous traitons vos données seulement si nous disposons de votre consentement libre et éclairé, et toujours en accord avec les finalités décrites.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading6politConf">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6politConf" aria-expanded="false" aria-controls="flush-collapse6politConf">
                        Choix des produits
                        </button>
                    </h2>
                    <div id="flush-collapse6politConf" class="accordion-collapse collapse" aria-labelledby="flush-heading6politConf" data-bs-parent="#accordionpolitConf">
                        <div class="accordion-body">
                            <p>
                            L'Acheteur ayant pris connaissance des produits et de leurs caractéristiques, commercialisés par La Nîmes'Alerie, 
                            a sous sa seule responsabilité et en fonction de ses besoins tels qu'ils les a préalablement déterminés avant toute commande, 
                            porté son choix sur le ou les produits faisant l'objet de sa commande. En outre, l'Acheteur connaissant seul les produits qu'il possède et utilise, 
                            est seul juge de la compatibilité des produits commandés avec ceux utilisés par lui.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading7politConf">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7politConf" aria-expanded="false" aria-controls="flush-collapse7politConf">
                        Destinataires
                        </button>
                    </h2>
                    <div id="flush-collapse7politConf" class="accordion-collapse collapse" aria-labelledby="flush-heading7politConf" data-bs-parent="#accordionpolitConf">
                        <div class="accordion-body">              
                            <p>Nous ne céderons pas les données que vous nous fournissez à des tiers sauf dans le cas où il y aurait une obligation légale.
                            Si pour mener à bien les fonctions nécessaires mentionnées pour la prestation de services, vos données peuvent être traitées par des tiers qui seront chargés du traitement et qui seront obligés de répondre à leurs obligations légales de chargé de traitement,
                            de préserver la confidentialité ainsi que le secret de l’information.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading8politConf">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8politConf" aria-expanded="false" aria-controls="flush-collapse8politConf">
                        Devenir membre sur La Nîmes'Alerie
                        </button>
                    </h2>
                    <div id="flush-collapse8politConf" class="accordion-collapse collapse" aria-labelledby="flush-heading8politConf" data-bs-parent="#accordionpolitConf">
                        <div class="accordion-body">                       
                            <P>Devenir membre sur La Nîmes'Alerie vous permet de bénéficier de services spécifiques et gratuits sur le site. 
                            Les seules informations obligatoires sont votre pseudo, votre email et votre mot de passe.
                            Votre email ne sera jamais transmise à des sociétés partenaires sans votre consentement, 
                            celle-ci servira uniquement à vous transmettre occasionnellement des messages relatifs à votre compte membre sur La Nîmes'Alerie.

                            Les informations facultatives renseignées sur le compte membre nous permettent de mieux vous connaître afin de réaliser des statistiques 
                            agrégées sur les utilisateurs de La Nîmes'Alerie (âge moyen, lieux de résidence...). Votre adresse postale ne sera jamais utilisée pour vous envoyer du courrier publicitaire. 
                            Aucune information personnelle (nom, adresse...) n'est jamais vendue et transmise à des sociétés extérieures.
                            </P>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading9politConf">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9politConf" aria-expanded="false" aria-controls="flush-collapse9politConf">
                        Inscription aux newsletters
                        </button>
                    </h2>
                    <div id="flush-collapse9politConf" class="accordion-collapse collapse" aria-labelledby="flush-heading9politConf" data-bs-parent="#accordionpolitConf">
                        <div class="accordion-body">
                            <p>L'inscription à nos newsletters est gratuite et sans engagement de durée. Vous pouvez vous désinscrire à tout moment via votre interface membre.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>