<html>
	<head>

		{% include 'content/headBack.html.twig' %}
		<title>La Nîmes'Alerie
			{% block title %}{% endblock %}
		</title>

	</head>

	<body>
		<header>{% include 'content/header/navbarBack.html.twig' %}</header>


		<div class="tailleMinTemplate">{% block body %}{% endblock %}</div>


			<footer>{% include 'content/footer/footerBack.html.twig' %}</footer>

		</body>
		{% include 'content/script.html.twig' %}
	</html>
