<html>
	<head>

		{% include 'content/head.html.twig' %}
		<title>La Nîmes'Alerie
			{% block title %}{% endblock %}
		</title>

	</head>

	<body>
		<header>{% include 'content/header/navbar.html.twig' %}</header>


		<div class="tailleMinTemplate"> {% block body %}{% endblock %}</div>
			

			<footer>{% include 'content/footer/footer.html.twig' %}</footer>

		</body>
		{% include 'content/script.html.twig' %}
	</html>
