<form method="post" action="{{ path('img_banners_delete', {'id': img_banner.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir effacer cette bannière ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ img_banner.id) }}">
	<button class="btn btn-danger mt-3">Supprimer</button>
</form>
