{% extends 'baseBack.html.twig' %}

{% block title %}
	- Bannières
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			{% for img_banner in img_banners %}
				<div class="ps-5 row d-flex bannière  align-items-center mt-4 mb-2" style="background-image: url({{ asset('upload/'~ img_banner.url)}});">
					<h2 class="text-center text-success m-4">
						{{ img_banner.name }}</h2>
					<a href="{{ path('img_banners_edit', {'id': img_banner.id}) }}">
						<button class="btn btn-primary m-3">Modifier</button>
					</a>
				</div>
			{% endfor %}
			<a href="{{ path('img_banners_new') }}">
				<button class="btn btn-primary m-3">Créer une nouvelle bannière</button>
			</a>
		</div>
	</div>


{% endblock %}
