{% extends 'baseBack.html.twig' %}

{% block title %}
	- Bannières
{% endblock %}

{% block body %}
    <h1>Create new ImgBanners</h1>

    {{ include('img_banners/_form.html.twig') }}

    <a href="{{ path('img_banners_index') }}">Retour aux bannières</a>
{% endblock %}
