{% extends 'baseBack.html.twig' %}

{% block title %}
	- Bannières
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-white">Ajout d'une bannière</h1>
		<div class="col-6">
			{{ include('img_banners/_form.html.twig') }}
		</div>
		<a href="{{ path('img_banners_index') }}">
			<button class="btn btn-warning">Revenir aux bannières</button>
		</a>
	</div>
{% endblock %}
