{% extends 'baseBack.html.twig' %}

{% block title %} - Paiement{% endblock %}

{% block body %}

<div class="container">
		<h1 class="text-white">Mise à jour du moyen de paiement</h1>
		<div class="col-6">
			{{ include('payment/_form.html.twig',{'button_label': 'Mise à jour'}) }}
		</div>
		<a href="{{ path('payment_index') }}">
			<button class="btn btn-warning">Retour</button>
		</a>
       {{ include('payment/_delete_form.html.twig') }}
	</div>

    
{% endblock %}
