{% form_theme form 'bootstrap_5_layout.html.twig' %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-8">

			{{ form_start(form) }}
            {{ form_row(form.rate, {'attr' :{'placeholder' :'Ex : pour 20% saisir 1.2'},'label' : 'Taux : '}) }}
            <button class="btn btn-primary">{{ button_label|default('valider') }}</button>
			{{ form_end(form) }}
		</div>
	</div>
</div>