{% extends 'baseBack.html.twig' %}

{% block title %}
	- TVA
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<h1 class="text-center text-white">Taux de TVA existants</h1>

			<a href="{{ path('tva_new') }}"><button class="btn btn-primary">Nouvelle valeur de TVA</button></a>
				
			
			<table class="table">
				<thead class="text-secondary">
					<tr>
						<th>Taux</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody class="text-white">
					{% for t_v_a in t_v_as %}
						<tr>
							<td>{{ t_v_a.rate }}</td>
							<td>
						    <a href="{{ path('tva_edit', {'id': t_v_a.id}) }}"><button class="btn btn-primary">Modifier</button></a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="10">Aucune valeur référencée</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
