{% extends 'baseBack.html.twig' %}

{% block title %}New TVA{% endblock %}

{% block body %}
    <h1>Create new TVA</h1>

    {{ include('tva/_form.html.twig') }}

    <a href="{{ path('tva_index') }}">back to list</a>
{% endblock %}
