{% extends 'baseBack.html.twig' %}

{% block title %} - TVA{% endblock %}

{% block body %}
    <h1 class="text-center text-white">Ajout d'un nouveau taux de TVA</h1>
	<div class="container">
		<div class="col-6">
			 {{ include('tva/_form.html.twig') }}
		</div>
		<a href="{{ path('tva_index') }}">
			<button class="btn btn-warning">Retour</button>
		</a>
	</div>
{% endblock %}
